@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
main {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

@keyframes glow {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.bg-gradient-glow {
  background: linear-gradient(135deg, #ff6ec4, #7873f5, #4ade80, #facc15);
  background-size: 400% 400%;
}

.animate-glow {
  animation: glow 8s ease-in-out infinite;
}
